*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 4px #909090, 8px 8px 8px #575757;
    border:0.5px solid #fff;

}
body{
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);
    background-attachment: fixed;
    color: #FFF;
    font-weight: 600;
}
.container h1{
    font-size: 1.6rem;
    margin-block:10px;
    
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 16px;
    right: 6px;
    color: #000;
    font-size: 25px;
    cursor: pointer;
    z-index:2
}
#passwordLength{
    text-align: left;
}
#password{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 9px;
    width: 300px;
    border-radius: 5px;
    margin-block:8px;
    font-size: 22px;
    text-overflow: ellipsis;
}
.row{
    display: flex;
    margin-block:8px;
    
   
}
.row label{
    display: block;
    text-align: left;

}
.row p,.row label{
    flex-basis: 100%;
    font-size: 18px;
}
#inputSlider{
    width: 300px;
    
}
.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.genBtn{
    border: none;
    outline: none;
    background-color: #2c619e;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    margin-block:8px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
}
.genBtn:hover{
    background-color: #006ff0;
}


